<ion-view title="{{establishment.category}}">


 <ion-content class="has-header padding">


    <ion-nav-buttons side="right">
	  <button ng-click="menuAction()" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  
 	<div class="dark">
 		<div>
		    <img src="{{establishment.image}}" style="width:80px;float:left;padding: 0 10px 10px 0">
		    <h2 style="text-transform:capitalize">{{establishment.title}}</h2>
		</div>

		<p style="clear:both">{{establishment.address}}
		<a class="button-icon icon-left ion-ios7-telephone balanced button-large" href="tel:{{establishment.phone}}"></a></p>

 		<div ng-bind="establishment.description"></div>

		<div id="map"></div>

 	</div>


  </ion-content>

	

</ion-view>