<ion-pane>
  <ion-content class="padding">

    <div class="search-component list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input 
          type="text" 
          placeholder="Search" 
          ng-model="search.query"
        >
      </label>
    </div>

    <div ng-if="!search.query" class="search-shortcuts grid-2 animate-if">


      <button ng-repeat="button in buttons" 
        class="button button-icon-top-large"
        ng-click="search.query = '{{ button.query }}'"
      >
        <i class="{{ button.iconClass }}"></i>
        <br>
        <label>{{ button.label }}</label>
      </button>


      <div class="clearfix"></div>

    </div>


    <div ng-if="search.query" class="search-component">

      <div 
        ng-repeat="e in establishments | filter:search.query"
        class="list card"
        ui-sref="establishment({ establishmentId: '{{ e.id || $index }}'})"
      >

        <div class="item item-image">
          <img src="{{ e.image }}">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-music-note"></i>
          Start listening
        </a>

      </div>

    </div>

  </ion-content>
</ion-pane>